/* Colors */
$color-primary: #002e3c;
$color-secondary: #e9e6e1;
// $color-secondary: #eeeae7;

$button-bar2: #125e8a;
$button-bar3: #2e84b7;
$button-bar4: #39a7ac;
// #aaaaaa

$color-buttons: #4b6c8f;

$color-white: #fff;


$header-height: 7rem;
$buttom__bar--height: 0.5rem;
// $color-black-light: #333;

