*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/* Colors */
.site-header {
  position: relative;
  height: 7rem; }
  .site-header::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    width: 100%;
    height: 0.5rem;
    background: #002e3c;
    background: linear-gradient(to right, #002e3c 0%, #2e84b7 40%, #e9e6e1 100%); }

.navbar {
  display: inline-block;
  padding: 0;
  height: 7rem;
  margin: 0 0 0 9vw; }
  .navbar-right {
    float: right; }
    .navbar-right a {
      height: 7rem;
      padding: 0 3rem; }
    .navbar-right__member {
      display: inline-block;
      vertical-align: middle;
      background-color: #4b6c8f;
      color: #fff; }
  .navbar .menu-item {
    padding: 2rem;
    font-weight: bold;
    text-transform: uppercase; }
  .navbar-toggler {
    margin: 2rem; }

.navbar-brand {
  background-color: #e9e6e1;
  padding: 0 3rem; }
  .navbar-brand__logo {
    width: 7rem;
    height: 7rem;
    transform: scale(0.8); }

@media screen and (max-width: 991px) {
  .navbar {
    float: right; }
    .navbar-right {
      display: none; }
    .navbar-collapse {
      background: #fff;
      width: 20vw;
      z-index: 1000; }
    .navbar-nav {
      height: 100vh; } }

.footer {
  background: #002e3c;
  color: #fff;
  padding: 13vh; }
  .footer__address {
    margin: 4rem auto;
    font-size: 1.7rem; }
  .footer__heading {
    font-size: 4rem;
    color: #fff; }
  @media screen and (max-width: 575px) {
    .footer__heading {
      font-size: 2.2rem; } }

a:hover {
  text-decoration: none; }

.social {
  text-align: center; }
  .social__item {
    display: inline-block; }

.fa {
  display: inline-block;
  background: #002e3c;
  color: #fff;
  font-size: 2rem;
  width: 2rem;
  margin: 0.7rem; }

.banner {
  position: relative;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 80vh;
  z-index: -1; }
  .banner__text {
    font-size: 7.5rem;
    position: absolute;
    bottom: 15%;
    left: 55%;
    color: #fff; }
  @media screen and (max-width: 575px) {
    .banner__text {
      font-size: 3.4rem; } }

section.section-home {
  margin: 5rem auto;
  text-align: center; }
  section.section-home p {
    font-size: 1.2rem; }

.categories__heading {
  margin: 7rem auto 5rem; }

.category__content {
  text-align: center;
  padding: 50px;
  background: #e9e6e1;
  margin: 0.2rem -1.3rem; }
