*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/
}

body {
    box-sizing: border-box;
}

// FONT
$default-font-size: 1.6rem;