.footer {
    background: $color-primary;
    color: $color-white;
    padding: 13vh;

    &__address {
        margin: 4rem auto;
        font-size: 1.7rem;
    }

    &__heading {
        font-size: 4rem;
        color: $color-white;
    }

    @media screen and (max-width: 575px) {

    &__heading {
        font-size: 2.2rem;
    }
    }

}